:root {
    --base: #e600ff;
    --spacing: 10px;
    --blur: 25px;
  }
h2 {
padding-top: 55px;

}
  img {
    border-radius: 25px;
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
    width: 40%;
  }

  .hl {
    color: var(--base);
  }

  body {
    background-image: url("https://images.unsplash.com/photo-1514564079764-600734e1e9b9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80");
  
    background-size: 100%;
    background-attachment: fixed;
  
    text-align: center;
    width: 100%;
  
    color: black;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 50px;
  }

  .controls {
    margin-bottom: 50px;
    background-color: #f5dfec;
  }

  input {
    width: 100px;
  }
  .btn-circle.btn-xl { 
  background-color: deeppink;
    width: 70px; 
    height: 70px; 
    padding: 10px 16px; 
    border-radius: 35px; 
    font-size: 18px; 
    text-align: center; 
} 
